<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boom_000000</key>
      <dict>
        <key>frame</key>
        <string>{{159,158},{151,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{149,134}</string>
      </dict>
      <key>boom_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,444},{114,99}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{112,97}</string>
      </dict>
      <key>boom_000002</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{150,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{148,134}</string>
      </dict>
      <key>boom_000003</key>
      <dict>
        <key>frame</key>
        <string>{{310,159},{140,135}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{138,133}</string>
      </dict>
      <key>boom_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{165,158}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{163,156}</string>
      </dict>
      <key>boom_000005</key>
      <dict>
        <key>frame</key>
        <string>{{155,311},{153,144}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{151,142}</string>
      </dict>
      <key>boom_000006</key>
      <dict>
        <key>frame</key>
        <string>{{315,0},{143,159}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{141,157}</string>
      </dict>
      <key>boom_000007</key>
      <dict>
        <key>frame</key>
        <string>{{308,294},{147,126}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{145,124}</string>
      </dict>
      <key>boom_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{159,153}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,151}</string>
      </dict>
      <key>boom_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,311},{155,133}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{153,131}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.33</real>
      <key>fps</key>
      <integer>30</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boom.png</string>
      <key>size</key>
      <string>{466,560}</string>
      <key>textureFileName</key>
      <string>boom.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06711</real>
        <key>anchorY</key>
        <real>1.08209</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.18750</real>
        <key>anchorY</key>
        <real>1.20619</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.08108</real>
        <key>anchorY</key>
        <real>1.07463</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.11594</real>
        <key>anchorY</key>
        <real>1.12030</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.05960</real>
        <key>anchorY</key>
        <real>1.07042</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.10638</real>
        <key>anchorY</key>
        <real>1.08917</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.06897</real>
        <key>anchorY</key>
        <real>1.03226</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset9</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.02290</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>boom1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>7</integer>
        <key>rect</key>
        <string>0,0,163.00,171.00</string>
        <key>anchorX</key>
        <real>0.52147</real>
        <key>anchorY</key>
        <real>0.50322</real>
        <key>children</key>
        <dict>
          <key>i4191</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i4185</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i4187</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i4183</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||</string>
          </dict>
          <key>i4129</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||</string>
          </dict>
          <key>i4189</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||||0.00,171.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
      <key>boom2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>5</integer>
        <key>rect</key>
        <string>0,0,157.00,151.00</string>
        <key>anchorX</key>
        <real>0.48408</real>
        <key>anchorY</key>
        <real>0.54338</real>
        <key>children</key>
        <dict>
          <key>i4193</key>
          <dict>
            <key>class</key>
            <string>asset9</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|0.00,151.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||</string>
          </dict>
          <key>i4155</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,151.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||</string>
          </dict>
          <key>i4197</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||0.00,151.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null</string>
          </dict>
          <key>i4195</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null||0.00,151.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>